.bgimg{
    z-index: 1;
    position: relative;
}

.divLogin{
    margin-top: -50%;
    margin-left: 40%;
    z-index: 2;
    position: absolute;
}


.Register{
    margin: 70px auto 0;
    max-width: 400px;
    padding: 40px 40px;
    background: #fff;
}
.promo{
    color:rgb(5, 79, 82);
}