

@import url(https://fonts.googleapis.com/css?family=Lato);
.search{
border: none;
  }

  .regioninput{
    border: none;
    background-color: rgba(84, 156, 160, 0.376) ;
    color: white;
    font-family: 'Lato';

    
  }
  .regioninput::placeholder{
    font-family: 'Lato';

    color: white;
  }

  .box{

    display: flex;
    margin-left: -40px;
  }
  .btnmic{

    border: none;
    background-color:rgba(84, 156, 160, 0.376) ;
    color: white;
    height:25px;
    margin-top: 30px;      
  }