// @import url(https://fonts.googleapis.com/css?family=Lato);
.section{
  padding-top: 40px;
  padding-bottom: 40px;
  
}

.main-heading{
  color:rgb(5, 79, 82);
  font-size: 30px;
  font-family: serif;
}

.underline{
  height:04px;
  width:4rem;
  background-color:coral;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-c-light{
  background-color: #f2f2f2;
}
p{
  font-size:18px;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h5{
  color:rgb(5, 79, 82);
}
h1{
  // font-family: 'Lato';
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

